.navbar {
  background-color: rgba(40, 58, 90, 0.9) !important;
  color: #fff !important;
  padding: 0 !important;
  margin: 0 !important;
}
.navbar-brand,
.nav-link {
  color: #fff !important;
  font-weight: 500 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  /* color: #fff; */
  white-space: nowrap;
  transition: 0.3s;
}
.active {
  color: #47b2e4 !important;
}
.nav-link:hover {
  color: #47b2e4 !important;
}
/* Logo image style */
.logo_img {
  width: 90px;
  height: 50px;
}
.getstarted {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  border: 2px solid #47b2e4;
  font-weight: 600;
}
.getstarted:hover {
  background-color: #47b2e4;
  color: #fff !important;
}
.navbar-brand {
  width: 40%;
}
.toggle_btn {
  background-color: rgba(40, 58, 90, 0.01);
  color: #fff !important;
}

@media (max-width: 992px) {
  .me-auto {
    background-color: #fff !important;
  }
  .nav-link {
    color: #37517e !important;
  }
  .container {
    max-width: 989px;
  }
  .navbar-brand {
    width: 100px;
  }
  .navbar-nav {
    display: block;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  .getstarted {
    margin: 10px 5px;
  }
  .getstarted:hover {
    background-color: #47b2e4;
    color: #fff !important;
  }
}
